<header class="<%= className %>">
    <div class="faction">
        <img class="faction__img" src="../images/<%= data.factionImg %>">
        <h1 class="faction__name"><%= `${data.factionName} [${data.factionPTS}]` %></h1>
    </div>
</header>